body{
    background-color:burlywood;
}
.container{
    width: 600px;
}

.grid-layout-form{
    display: grid;
    background-color: cadetblue;
    grid-template-areas: 'lNombre inombre inombre inombre inombre'
    'lfechanacimiento ifechanacimiento ifechanacimiento ledad iedad'
    ;
}
.grid-layout-form div {
    background-color: crimson;
    color: white;
    text-align: center;
    border: 1px solid black;
}