:root
{
    --white:#FFFFFF;
    --black:#000000;
    --color-ligth:#C7C7C7;
    --color-primary:#368af8;
    --color-input-field:#eef3f8;
    --sm:14px;
    --md:16px;
    --lg:18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    font-family: 'Quicksand', sans-serif;
}